.body {
    width: 100%;
    margin: 0;
    padding: 0;
}

/*FONTS*/

@font-face 
{ 
font-family: "OswaldMedium";  
src: url("/public/src/fonts/OswaldMedium.ttf")format("truetype"); 
}

@font-face 
{ 
font-family: "OswaldRegular";  
src: url("/public/src/fonts/OswaldRegular.ttf")format("truetype"); 
}

@font-face 
{ 
font-family: "RobotoBold";  
src: url("/public/src/fonts/RobotoBold.ttf")format("truetype"); 
}

@font-face 
{ 
font-family: "RobotoMedium";  
src: url("/public/src/fonts/RobotoMedium.ttf")format("truetype"); 
}

@font-face 
{ 
font-family: "RobotoRegular";  
src: url("/public/src/fonts/RobotoRegular.ttf")format("truetype"); 
}


/*HEADER*/

/*MAIN*/

.main {
    width: 100%;
}

/*Section partners*/

/*Section who-we-are*/

/*Section what-we-do*/

/*Section reliable-it-cyber-security*/

.statistics {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
    align-items: center;
    justify-content: center;
    background-image: url(./public/src/images/banner-overlay-img.png);
}

.statistics-leftpanel{
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:20px;    
}

.statistics-leftpanel-up {
    display: flex;
    flex-direction: row;
    align-content:space-around;
    justify-content: flex-end;
    gap:15px;}

.statistics-leftpanel-down {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: flex-end;
    gap:15px;
}

.statistics-rightpanel {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.statistics-rightpanel h4 {
    color: aqua;
}
.statistics-rightpanel h2, p {
    color:white;
}

.card {
    /* flex-basis: calc(50% - 10px); */
    height:100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #305f72;
    color: #fff;
    /* margin-bottom: 10px; */
    border-radius: 10px;
    padding:20px;
}

.card img {
    width: 20px;
    height: 20px;
    padding-top: 5px;
    
}

.card .figure {
    font-size:larger;
    font-weight: bold;
}

.card .title {
    font-size: medium;
}

button {
    background-color: #4CAF50;
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 15px 32px;
    font-size: 16px;
    border: none;
    border-radius: 5px;}

/*Section news*/

/*Section contact*/

/*FOOTER*/