.body {
    width: 100%;
    margin: 0;
    padding: 0;
}

h2 { /*changed & alle h2 rausgelöscht unten*/
    font-family: RobotoMedium;
    font-size: 35px;
    color: white;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: RobotoMedium;
    font-size: 20px;
    color: white;
    margin: 0;
    padding: 0;
}

h4 { /*neu*/
    font-family: RobotoMedium;
    color: #0ad3ef;
    letter-spacing: 0.1em;
    margin: 5px;
}

h5 { /*neu*/
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: RobotoMedium;
    color: white;
}

p { /*neu und dann unten die ps gelöscht*/
    font-family: RobotoRegular;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: #4960ae;
}

/*FONTS*/

@font-face 
{ 
font-family: "OswaldMedium";  
src: url("/public/src/fonts/OswaldMedium.ttf")format("truetype"); 
}

@font-face 
{ 
font-family: "OswaldRegular";  
src: url("/public/src/fonts/OswaldRegular.ttf")format("truetype"); 
}

@font-face 
{ 
font-family: "RobotoBold";  
src: url("/public/src/fonts/RobotoBold.ttf")format("truetype"); 
}

@font-face 
{ 
font-family: "RobotoMedium";  
src: url("/public/src/fonts/RobotoMedium.ttf")format("truetype"); 
}

@font-face 
{ 
font-family: "RobotoRegular";  
src: url("/public/src/fonts/RobotoRegular.ttf")format("truetype"); 
}


/*HEADER*/

.header {
    width: 100%;

    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(8,20,78,255)),url(../src/images/banner-overlay-img.png);
    min-height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.upperHeader {
    width: 100%;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.logoHeader img {
    width: 120px;
    height: 100px;
}


.navbar {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.my-link {
    text-decoration: none;
    color: white;
    font-family: RobotoRegular;
    font-size: 15px;
    margin: 0;
}


.buttonUpperHeader {
    width: 120px;
    height: 40px;
    border-radius: 40px;
    border: none;
    background-color: #0ad3ef;
    color: white;
    font-family: RobotoRegular;
}

.buttonUpperHeader:hover {
    width: 120px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid #0ad3ef;
    background-color: transparent;
    color: white;
    font-family: RobotoRegular;
}

.bottomHeader {
    width: 100%;
    height: 500px;
    height: 70%;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.containerHeader { 
    width: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.textBottomHeader {
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.bottomHeader h1 {
    font-family: RobotoBold;
    font-size: 60px;
    margin: 0;
}

.bottomHeader p {
    font-family: RobotoRegular;
    line-height: 1.5;
    color: white;
}


.buttonsBottomHeader {
    display: flex;
    gap: 5px;
}

.button1BottomHeader {
    width: 120px;
    height: 40px;
    border-radius: 40px;
    border: none;
    background-color: #0ad3ef;
    color: white;
    font-family: RobotoRegular;
}

.button1BottomHeader:hover {
    width: 120px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid #0ad3ef;
    background-color: transparent;
    color: white;
    font-family: RobotoRegular;
}

.button2BottomHeader {
    width: 120px;
    height: 40px;
    border-radius: 40px;
    border-radius: 20px;
    border: none;
    background-color: #2152a1;
    color: white;
}

.button2BottomHeader:hover {
    width: 120px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid  #2152a1;
    background-color: transparent;
    color: white;
    font-family: RobotoRegular;
}

.imageBottomHeader {
    width: 50%; 
}

.imageBottomHeader img {
    width: 600px;
    height: 500px;
}

/*MAIN*/

.main {
    width: 100%;
}

/*Section partners*/

.partners {
    width: 100%;
    height: 300px;
    background-color: #0a1650;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.partnersLogos {
    width: 80%;

    display: flex;
    justify-content: center;
    gap: 30px;
}

.divPartnerLogo {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-color: #17256e;

    display: flex;
    justify-content: center;
    align-items: center;
}

.divPartnerLogo img{
    width: 70px;
    height: 70px;
}

@keyframes divPartnerLogoUp { /*moves img on the y-axis*/
    50% {
        transform: translateY(-20px);
       } 
}

.divPartnerLogo:hover img{ 
    animation: divPartnerLogoUp 3s; /*call animation with my hover pseudo-selector*/
}

.divPartnerLogo:hover { /*transition color*/
background-color: #0ad3ef;
}




/*Section who-we-are*/
.who-we-are {
    width: 100%;
    height: 450px;
    background-color: #0a1650;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.who-we-are img {
    width: 250px;
    height: 300px;
    position: absolute;
}

.containerImageText { /*work with a first container in order to be able to centralize the image and the text independent from the dots-image that needed a "flex-end" from the parent, the section*/
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.secondContainerImageText { /*need a second container to give the elements a margin in relation to its parent*/
    width: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.womanWhoWeAre {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.womanWhoWeAre img {
    width: 350px;
    height: 300px;
}

.textWhoWeAre {
    width: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.bulletWhoWeAre {
    display: flex;
    align-items: center;
}

.bulletWhoWeAre p {
    display: block; /*verstehe ich nicht!!*/
}

.bulletWhoWeAre img {
    width: 15px;
    height: 15px;
}


/*Section what-we-do*/

.what-we-do {
    width: 100%;
    height: 600px;
    background-color: #122061;
    background-image: url(../src/images/overly-img.png);
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.headerSectionWhatWeDo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myDivsWhatWeDo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.myDivWhatWeDo {
    width: 180px;
    height: 240px;
    background-color: #17256e;
    border-radius: 5px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.myDivWhatWeDo:hover {
    border: 1px solid #0ad3ef;
}


@keyframes myImageWhatWeDo { /*movement on the y-axis*/
    50% {
        transform: translateY(-10px);
       } 
}

.myDivWhatWeDo:hover img{ /*call animation*/
    animation: myImageWhatWeDo 3s;
}

.myImageWhatWeDo {
    width: 180px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.myImageWhatWeDo img {
    width: 50px;
    height: 40px;
}

.myImageWhatWeDoSpecialSize {
    width: 40px;
    height: 40px;
}

.buttonWhatWeDo {
    width: 120px;
    height: 40px;
    border-radius: 40px;
    border: none;
    background-color: #0ad3ef;
    color: white;
    font-family: RobotoRegular;
}

.buttonWhatWeDo:hover {
    width: 120px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid #0ad3ef;
    background-color: transparent;
    color: white;
    font-family: RobotoRegular;
}

/*Section reliable-it-cyber-security*/


.reliable-it-cyber-security {
    width: 100%;
    height: 600px;
    background-color: #0a1650;

    display: flex;

}

.dotsAndText {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.textAndPercentages {
    width: 70%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.percentages {
    display: flex;
    gap: 50px;
}

.myPercentage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #0ad3ef;

    display: flex;
    align-items: center;
    justify-content: center;
}

.eachPercentage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.myPercentage p {
    color: white;
    font-family: OswaldMedium;
    font-size: 30px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.dotsAndText img {
    transform: rotate(180deg);
    width: 250px;
    height: 300px;
}


.imageAndSquare {
    width: 50%;

    background-image: url(../src/images/service-right-bg-img.png);
    background-position: center;
    background-size: cover;

    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.square {
    width: 350px;
    height: 200px;
    background-color: #0ad3ef;
    border-top-left-radius: 5px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.square img {
    width: 70px;
    height: 60px;
}

.square p {
    font-family: RobotoRegular;
    color: white;
    margin: 0;
}



/*Section statistics*/

.statistics {
    width: 100%;
    height: 700px;
    background-image: url(../src/images/overly-img.png);
    background-color: #122061;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

.containerStatistics {
    width: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.statistics-leftpanel{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;    
}

.statistics-leftpanel-up {
    display: flex;
    flex-direction: row;
    align-content:space-around;
    justify-content: flex-end;
    gap: 15px;
}

.statistics-leftpanel-down {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: flex-end;
    gap: 15px;
}

.statistics-rightpanel {
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.card {
    height: 200px;
    width: 200px;
    background-color: #17256e;
    /* margin-bottom: 10px; */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    padding-top: 5px;
    
}

.card .figure {
    color: white;
    font-family: OswaldMedium;
    font-size: 30px;
}


.buttonStatistics {
    width: 120px;
    height: 40px;
    border-radius: 40px;
    border: none;
    background-color: #0ad3ef;
    color: white;
    font-family: RobotoRegular;
}


.buttonStatistics:hover {
    width: 120px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid #0ad3ef;
    background-color: transparent;
    color: white;
    font-family: RobotoRegular;
    }
    

/* Section news */
.news {
    background-color:#0a1650;
    height: 450px;
    padding-bottom: 20px;

    display: flex;
    align-items: center;
  }
  
  .dotsNewsSection {
    transform: rotate(180deg);
    width: 250px;
    height: 300px;
    position: absolute; /*makes the image stay on its position, is not modified by display flex*/
  }

  .containerNewsSection {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .news-pictures {
    display: flex;
    gap: 10px;
  }
  
  .news-pictures img {
    width: 400px;
    height: 300px;
  }

  .news-item {
    position: relative;
  }
  
  .news-item img {
    width: 100%; 
    display: block;
  }
  
  .news-text {
    position: absolute;
    bottom: 10px; 
    left: 10px; 
    color: white;
    text-align: left;

    display: flex;
    flex-direction: column;
    gap: 5px;
}
    
  .news-text h5:hover, h3:hover {
    color: #0ad3ef;
  }
  
  .news-link {
    text-decoration: none;
    font-family: RobotoRegular;
    color: white;
    margin: 0;
  }

  .news-link:hover {
    color: #0ad3ef;
  }


/*Section contact*/

.contact {
    width: 100%;
    height: 400px;
    background-color: #0a1650;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.contact img {
    width: 250px;
    height: 300px;
    position: absolute;
}

.containerContactSection {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.name-email-phone {
    width: 40%;
    display: flex;
    align-items: center;
    gap: 15px;   
}

.message-submit {
    width: 40%;
}


#name, #Email, #phone {
    padding: 10px;
    width: 200px;
    color: #4960ae;
    border-radius: 5px;
    border: 1px solid #4960ae;
    background-color:rgba(0, 0, 0, 0); /*gets transparent*/
}

#message {
    padding: 10px;
    width: 555px;
    height: 100px;
    color: #4960ae;
    border-radius: 5px;
    border: 1px solid #4960ae;
    background-color:rgba(0, 0, 0, 0);/*gets transparent*/
}

.buttonContactSection  {
    width: 120px;
    height: 40px;
    border-radius: 40px;
    border: none;
    background-color: #0ad3ef;
    color: white;
    font-family: RobotoRegular;
}

.buttonContactSection:hover {
    width: 120px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid #0ad3ef;
    background-color: transparent;
    color: white;
    font-family: RobotoRegular;
}



/*FOOTER*/

footer {
    width: 100%;
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-image: url(../src/images/banner-overlay-img.png);
    background-color: #122061; /*ab hier neu*/
    background-image: url(../src/images/overly-img.png);
    background-position: center;
    background-size: cover;

}

footer p {
    font-size: 12px;
    line-height: 1.6;
}

.upperFooter {
    width: 100%; /*to gain a bit of margin left and right of the footer*/
    height: 400px;
    border-bottom: 0.5px solid  #4960ae;

    display: flex;
    justify-content: center;
    align-items: center;
}

.containerUpperFooter {
    width: 80%;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.logo {
    width: 25%;
}

.logo img {
    width: 120px;
    height: 100px;
}

.aboutus {
    width: 25%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.ourservices{
    width: 25%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.myIcons img {
    width: 20px;
    height: 20px;
}

.newsletter {
    width: 25%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

#email {
    background-color: #122061;
    color: #4960ae;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #4960ae;
    padding-right: 10px;
    background: url(../src/images/submit-img.png) no-repeat right;
    background-size: 20px;
}

.checkbox {

    display: flex;
}

.bottomFooter {
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*MEDIA*/

/*all sections*/

/*Laptop*/
@media (min-width: 769px) and (max-width: 1024px){

    h2 {
        font-size: 30px;
    }
    
    h4 {
        font-size: 12px;
    }
}

/*Tablet*/
@media (min-width: 426px) and (max-width: 768px){
    h2 {
        font-size: 20px;
    }
    
    h4 {
        font-size: 10px;
    }

    h5 {font-size: 14px;
    }

    p {
        font-size: 12px;
    }
}

/*Mobile M & L*/
@media (min-width: 321px) and (max-width: 425px){
    h2 {
        font-size: 20px;
    }
    
    h4 {
        font-size: 10px;
    }

    h5 {font-size: 14px;
    }

    p {
        font-size: 12px;
    }
}

/*header*/

/*Laptop*/ 
@media (min-width: 769px) and (max-width: 1024px){

    .bottomHeader h1 {
        font-size: 40px;
    }
    
    .imageBottomHeader img {
        width: 400px;
        height: 300px;
    }

    .header {
        min-height: 500px;
    }
}

/*Tablet*/
@media (min-width: 426px) and (max-width: 768px){

    .logoHeader img {
        width: 90px;
        height: 80px;
    }
    
    .bottomHeader h1 {
        font-size: 30px;
    }
    
    .imageBottomHeader img {
        width: 300px;
        height: 250px;
    }

    .header {
        min-height: 500px;
    }
}

/*Mobile M & L*/
@media (min-width: 321px) and (max-width: 425px){

    .header {
        min-height: 800px;
    }

    .upperHeader {
        flex-direction: column;
        gap: 10px;
    }

    .navbar {
        gap: 10px;
        flex-wrap: wrap;
    }
    
    .logoHeader img {
        width: 70px;
        height: 60px;
        padding-top: 20px;
    }
    
    .containerHeader {
        width: 100%;
        height: 100%;
        padding-top: 20%;

        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 50px;
    }

    .textBottomHeader {
        width: 100%;
        text-align: center;

        display:flex;
        align-items: center;
        justify-content: center;
    }

    .bottomHeader h1 {
        font-size: 30px;
    }

    .imageBottomHeader {
        width: 100%;

        display:flex;
        align-content: center;
        justify-content: center;
    }
    
    .imageBottomHeader img {
        width: 250px;
        height: 200px;
    }

}


/*partners*/

/*Mobile M & L*/
@media (min-width: 321px) and (max-width: 425px){

    .partners {
        height: 500px;
    }

    .partnersLogos {
        flex-wrap: wrap; /*divs automatically change into next row*/
    }
}

/*who we are*/

/*Laptop*/

@media (min-width: 769px) and (max-width: 1024px){

    .containerDots img {
        width: 180px;
        height: 250px;
    }

    .containerImageText {
        width: 100%;
    }

    .imageWhoWeAre img {
        width: 300px;
        height: 250px;
    }
}

/*Tablet*/
@media (min-width: 426px) and (max-width: 768px){

    .containerDots img {
        width: 120px;
        height: 180px;
    }

    .imageWhoWeAre img {
        width: 250px;
        height: 200px;
    }

    .containerImageText {
        width: 100%;
    }
}

/*Mobile M & L*/
@media (min-width: 321px) and (max-width: 425px){
    
    .who-we-are {
        height: 700px;
    }
    
    .containerImageText {
        flex-direction: column;
        gap: 30px;
    }
    
    .containerDots img {
        display: none;
    }

    .textWhoWeAre {
        width: 100%;
    }

    .imageWhoWeAre {
        padding-top: 60px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .imageWhoWeAre img {
        width: 200px;
        height: 150px;
    }

}


/*what we do*/

/*Tablet*/
@media (min-width: 426px) and (max-width: 768px){
    .myDivWhatWeDo {
        width: 140px;
        height: 200px;
        padding: 10px; 
    }
}

/*Mobile M & L*/
@media (min-width: 321px) and (max-width: 425px){
    
    .what-we-do {
        height: 700px;
    }
    
    .myDivsWhatWeDo{
        flex-wrap: wrap; /*divs automatically change into next row*/
    }

    .myDivWhatWeDo {
        width: 120px;
        height: 200px;
        padding: 10px; 
    }
}

/*cyber security*/

@media (min-width: 769px) and (max-width: 1024px){

    .dotsAndText img {
        width: 180px;
        height: 250px;
    }

    .imageAndSquare {
        width: 40%;
    }

    .dotsAndText {
        width: 60%;
    }

    .percentages {
        gap: 20px;
    }

    .square {
        width: 300px;
        height: 150px;
    }
}

/*Tablet*/
@media (min-width: 426px) and (max-width: 768px){

    .dotsAndText img {
        width: 180px;
        height: 210px;
    }

    .reliable-it-cyber-security {
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        gap: 30px;
        height: 800px; /*has to get bigger as a result of the column*/
    }

    .imageAndSquare {
        height: 400px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .square img {
        height: 40px;
        width: 40px;
    }

    .dotsAndText {
        width: 100%;
    }

    .percentages {
        gap: 20px;
    }

    .square {
        width: 180px;
        height: 100px;
    }
}

/*Mobile M & L*/
@media (min-width: 321px) and (max-width: 425px){

    .reliable-it-cyber-security {
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        gap: 30px;
        height: 1200px; /*has to get bigger as a result of the column*/
    }

    .dotsAndText {
        width: 100%;
    }

    .percentages {
        flex-wrap: wrap;
        justify-content: center;
    }

    .dotsAndText img {
        display: none;
    }

    .text {
        width: 100%;
    }

    .imageAndSquare {
        width: 100%;
        height: 420px;
    }

    .square {
        width: 200px;
        height: 100px;
    }

    .square img {
        height: 40px;
        width: 40px;
    }

}

/*FOOTER*/

/*Tablet*/
@media (min-width: 426px) and (max-width: 768px){

    .logo img {
        width: 80px;
        height: 65px;
}
}

/*Mobile M & L*/
@media (min-width: 321px) and (max-width: 425px){

    footer {
        height: 700px;
    }

    .upperFooter {
        height: 600px;
    }

    .bottomFooter {
        height: 100px;
    }

    .containerUpperFooter {
        flex-wrap: wrap;
        justify-content: center;
    }

    .logo {
        width: 100%;
        display: flex;
        gap: 20px;
    }

    .logo img {
        width: 80px;
        height: 65px;   
    }

    .aboutus {
        width: 40%;
    }

    .ourservices {
        width: 40%;
    }

    .newsletter {
        width: 100%;
        display: flex;
        align-items: center;
    }

}