.body {
    width: 100%;
    margin: 0;
    padding: 0;
}

/*FONTS*/

@font-face 
{ 
font-family: "OswaldMedium";  
src: url("/public/src/fonts/OswaldMedium.ttf")format("truetype"); 
}

@font-face 
{ 
font-family: "OswaldRegular";  
src: url("/public/src/fonts/OswaldRegular.ttf")format("truetype"); 
}

@font-face 
{ 
font-family: "RobotoBold";  
src: url("/public/src/fonts/RobotoBold.ttf")format("truetype"); 
}

@font-face 
{ 
font-family: "RobotoMedium";  
src: url("/public/src/fonts/RobotoMedium.ttf")format("truetype"); 
}

@font-face 
{ 
font-family: "RobotoRegular";  
src: url("/public/src/fonts/RobotoRegular.ttf")format("truetype"); 
}


/*HEADER*/

.header {
    width: 100%;

    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(8,20,78,255)),url(../src/images/banner-overlay-img.png);
    min-height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.upperHeader {
    width: 100%;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.logoHeader img {
    width: 120px;
    height: 100px;
}


.navbar {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.my-link {
    text-decoration: none;
    color: white;
    font-family: RobotoRegular;
    font-size: 15px;
    margin: 0;
}


.buttonUpperHeader {
    width: 120px;
    height: 40px;
    border-radius: 40px;
    border: none;
    background-color: #0ad3ef;
    color: white;
    font-family: RobotoRegular;
}

.buttonUpperHeader:hover {
    width: 120px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid #0ad3ef;
    background-color: transparent;
    color: white;
    font-family: RobotoRegular;
}

.bottomHeader {
    width: 100%;
    height: 500px;
    height: 70%;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.textBottomHeader {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.bottomHeader h1 {
    font-family: RobotoBold;
    font-size: 60px;
    margin: 0;
}

.bottomHeader p {
    font-family: RobotoRegular;
    line-height: 1.5;
}


.buttonsBottomHeader {
    display: flex;
    gap: 5px;
}

.button1BottomHeader {
    width: 120px;
    height: 40px;
    border-radius: 40px;
    border: none;
    background-color: #0ad3ef;
    color: white;
    font-family: RobotoRegular;
}

.button1BottomHeader:hover {
    width: 120px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid #0ad3ef;
    background-color: transparent;
    color: white;
    font-family: RobotoRegular;
}

.button2BottomHeader {
    width: 120px;
    height: 40px;
    border-radius: 40px;
    border-radius: 20px;
    border: none;
    background-color: #2152a1;
    color: white;
}

.button2BottomHeader:hover {
    width: 120px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid  #2152a1;
    background-color: transparent;
    color: white;
    font-family: RobotoRegular;
}

.imageBottomHeader img {
    width: 600px;
    height: 500px;
}

/*MAIN*/

.main {
    width: 100%;
}

/*Section partners*/

.partners {
    width: 100%;
    height: 300px;
    background-color: #0a1650;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.partners p {
    font-family: RobotoMedium;
    letter-spacing: 0.1em;
    color: #3494c6;
    margin: 0;
    padding: 0;
}

.partners h2 {
    font-family: RobotoMedium;
    font-size: 35px;
    color: white;
    margin: 0;
    padding: 0;
}

.partnersLogos {
    width: 80%;

    display: flex;
    justify-content: center;
    gap: 30px;
}

.divPartnerLogo {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-color: #17256e;

    display: flex;
    justify-content: center;
    align-items: center;
}

.divPartnerLogo img{
    width: 70px;
    height: 70px;
}

@keyframes divPartnerLogoUp {
    50% { 
        align-items: flex-start;
    }
}


.divPartnerLogo:hover {
    background-color: #0ad3ef;
    animation: divPartnerLogoUp 4s;
}




/*Section who-we-are*/
.who-we-are {
    width: 100%;
    height: 450px;
    background-color: #0a1650;

    display: flex;
    justify-content: center;
    align-items: center;
}

.containerOfConatinerImageText {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.containerImageText {
    width: 70%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.containerDots {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.containerDots img{
    width: 200px;
    height: 250px;
}

.imageWhoWeAre {
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.imageWhoWeAre img {
    width: 350px;
    height: 300px;
}

.textWhoWeAre {
    width: 50%;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.textWhoWeAre h2 {
    padding: 0;
    margin: 0;
    font-family: RobotoMedium;
    font-size: 35px;
    color: white;
}

.textWhoWeAre p {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: RobotoRegular;
    font-weight: lighter;
    color: white;
    font-size: 15px;
}

.firstP {
    color: #0ad3ef;
    letter-spacing: 0.1em;
}

.bulletsWhoWeAre {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bulletWhoWeAre {
    display: flex;
    align-items: center;
    gap: 10px;
}




/*Section what-we-do*/

.what-we-do {
    width: 100%;
    height: 600px;
    background-color: #122061;
    background-image: url(../src/images/overly-img.png);
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.what-we-do h2 {
    padding: 0;
    margin: 0;
    font-family: RobotoMedium;
    font-size: 35px;
    color: white;
}

.headerSectionWhatWeDo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerSectionWhatWeDo p {
    padding: 0;
    margin: 10px;
    font-family: RobotoMedium;
    color: #0ad3ef;
    letter-spacing: 0.1em;
}

.myDivsWhatWeDo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.myDivWhatWeDo {
    width: 180px;
    height: 220px;
    background-color: #17256e;
    border-radius: 5px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.myDivWhatWeDo:hover {
    border: 1px solid #0ad3ef;
}


@keyframes myImageWhatWeDo {
    50% {
        justify-content: flex-start;
       }   
}

.myDivWhatWeDo:hover {
    animation: myImageWhatWeDo 3s;
}

.myDivWhatWeDo p {
    margin: 0;
    padding: 0;
    font-family: RobotoRegular;
    color: white;
}

.myDivWhatWeDo h5 {
    margin: 0;
    padding: 0;
    font-family: RobotoMedium;
    color: white;
}

.myImageWhatWeDo {
    width: 180px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.myImageWhatWeDo img {
    width: 50px;
    height: 40px;
}

.myImageWhatWeDoSpecialSize {
    width: 40px;
    height: 40px;
}

.buttonWhatWeDo {
    width: 120px;
    height: 40px;
    border-radius: 40px;
    border: none;
    background-color: #0ad3ef;
    color: white;
    font-family: RobotoRegular;
}

.buttonWhatWeDo:hover {
    width: 120px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid #0ad3ef;
    background-color: transparent;
    color: white;
    font-family: RobotoRegular;
}

/*Section reliable-it-cyber-security*/

<<<<<<< HEAD
.reliable-it-cyber-security {
    width: 100%;
    height: 600px;
    background-color: #0a1650;

    display: flex;

}

.dotsAndText {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.textAndPercentages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.percentages {
    display: flex;
    gap: 50px;
}

.myPercentage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #0ad3ef;

    display: flex;
    align-items: center;
    justify-content: center;
}

.eachPercentage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myPercentage p {
    color: white;
    font-family: OswaldMedium;
    font-size: 30px;
}

.subtitlePercentage {
    color: white;
    font-family: RobotoRegular;
    font-size: 15px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.text h5 {
    font-family: RobotoMedium;
    font-size: 35px;
    color: white;
    margin: 0;
}

.littleHeader {
    font-family: RobotoMedium;
    color: #0ad3ef;
    letter-spacing: 0.1em;
    margin: 5px;
}

.pParagraph {
    font-family: RobotoRegular;
    line-height: 1.6;
    color: white;
    margin: 0;
}

.dotsAndText img {
    transform: rotate(180deg);
    width: 250px;
    height: 300px;
}


.imageAndSquare {
    width: 50%;

    background-image: url(../src/images/service-right-bg-img.png);
    background-position: center;
    background-size: center;

    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.square {
    width: 350px;
    height: 200px;
    background-color: #0ad3ef;
    border-top-left-radius: 5px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.square img {
    width: 70px;
    height: 60px;
}

.square h5 {
    font-family: RobotoMedium;
    color: white;
    margin: 0;
}

.square p {
    font-family: RobotoRegular;
    color: white;
    margin: 0;
}



/*Section statistics*/

.statistics {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 1000px;
    align-items: center;
    justify-content: center;
    background-image:url(../src/images/banner-overlay-img.png);
}

.statistics-leftpanel{
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:20px;    
}

.statistics-leftpanel-up {
    display: flex;
    flex-direction: row;
    align-content:space-around;
    justify-content: flex-end;
    gap:15px;}

.statistics-leftpanel-down {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: flex-end;
    gap:15px;
}

.statistics-rightpanel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    padding-right: 100px;
}

.statistics-rightpanel h4 {
    color: aqua;
}
.statistics-rightpanel h2, p {
    color:white;
}

.card {
    /* flex-basis: calc(50% - 10px); */
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #305f72;
    color: #fff;
    /* margin-bottom: 10px; */
    border-radius: 10px;
    padding:20px;
}

.card img {
    width: 20px;
    height: 20px;
    padding-top: 5px;
    
}

.card .figure {
    font-size:larger;
    font-weight: bold;
}

.card .title {
    font-size: medium;
}

button {
    background-color: #4CAF50;
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 15px 32px;
    font-size: 16px;
    border: none;
    border-radius: 5px;}


/*Section news*/
.news {
    background-color: blue;
    background-image:url(../src/images/banner-overlay-img.png);

    display: flex;
    flex-direction: column;
    margin: auto;

    align-items: center;
    justify-content: center;
}



.news h2  {
    color:white;
    font-family: RobotoBold;
}

.news h4 {
    color:white;
    font-family: RobotoBold;}
/*Section contact*/

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-image: url(../src/images/banner-overlay-img.png);
    color: white;
    font-family:OswaldMedium;
    flex-wrap: wrap;
}

.contact h2 {
    margin-bottom: 10px;
    font-family:OswaldMedium;
}

.contact h1 {
    margin-bottom: 20px;
    font-family:OswaldMedium;
}

.name-email-phone {
    display: flex;
    flex-direction: row;
    width: 40%;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    gap:15px;   
    
}
    
.message-submit {
    width: 40%;
    margin-bottom: 20px;
}

.name-email-phone input, .message-submit textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 2px solid #fff;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-family:OswaldMedium;
}

.message-submit button {
    background-color: aqua;
    padding: 15px 30px;
    width: 20%;
    margin-top: 20px;
    border-radius: 20%;
    text-align: center;
}

.contact button:hover {
    background-color: #009977;
}


/*FOOTER*/

footer {
    display: flex;
    flex-direction: row;
    margin:auto;
    height: 400px;
    padding-bottom: 50px;
    padding-top: 50px;
    align-items: center;
    justify-content: flex-end;
    justify-items: flex-end;
 

    background-color: #122061;
    background-image: url(../src/images/overly-img.png);

    font-family: RobotoRegular;
}

.logo {
    width: 35%;
    color:#4d65ba;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo p {
    width: 50%;
    color:#4d65ba;
}
.aboutus h3 {
    color:white ;
}
.aboutus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15%;
    color:#4d65ba;
}

.aboutus ul {
    list-style-type:none;
}
.ourservices h3 {
    color:white;
}
.ourservices{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    color:#4d65ba;
}
.ourservices ul {
    list-style-type:none;}


.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    font-family: RobotoRegular;
}
.newsletter input {
    color:#4d65ba;
}

.newsletter h3 {
    color:white;
}
.newsletter input{
    color:#4d65ba;
}