.body {
    width: 100%;
    margin: 0;
    padding: 0;
}

/*FONTS*/

@font-face 
{ 
font-family: "OswaldMedium";  
src: url("/public/src/fonts/OswaldMedium.ttf")format("truetype"); 
}

@font-face 
{ 
font-family: "OswaldRegular";  
src: url("/public/src/fonts/OswaldRegular.ttf")format("truetype"); 
}

@font-face 
{ 
font-family: "RobotoBold";  
src: url("/public/src/fonts/RobotoBold.ttf")format("truetype"); 
}

@font-face 
{ 
font-family: "RobotoMedium";  
src: url("/public/src/fonts/RobotoMedium.ttf")format("truetype"); 
}

@font-face 
{ 
font-family: "RobotoRegular";  
src: url("/public/src/fonts/RobotoRegular.ttf")format("truetype"); 
}


/*HEADER*/

/*MAIN*/

.main {
    width: 100%;
}

/*Section partners*/

/*Section who-we-are*/

/*Section what-we-do*/

/*Section reliable-it-cyber-security*/

/*Section statistics*/

/*Section news*/

/*Section contact*/
.contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    background-image: url(../src/images/banner-overlay-img.png);
  }
  .name-email-phone {
    display:flex;
    flex-direction: row;
    margin: auto;
    width: 35%;
    align-items:center;
    justify-content: space-evenly;
  }
  .contact h1, .contact h2 {
    color: white; 
  }
  
  .name-email-phone {
    width: 40%;
  }
  .name-email-phone input, .name-email-phone textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .message-submit {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .message-submit button {
    background-color: #00cc99; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  .contact button:hover {
    background-color: #009977;
  }


/*FOOTER*/